requests
openai
sounddevice
openai-whisper
wavio
gtts
playsound==1.2.2
TTS
PyObjC
elevenlabs

# LangChain
langchain
langgraph
langchain-community
langchain-openai
langchain-ollama
duckduckgo-search

# Test and lint
pytest
pylint
flake8
isort
